.column {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.grid {
    flex: 1;
    background-color: grey;
}



#screen {
    display: flex;
    height: 500px;
    width: 500px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}